<html>
<head>
    <link rel="stylesheet" href="static/style.css">
    <title>{{title}}</title>
</head>
<body>
    {%block content%}
        <div>
            <form action=" " method="POST">
                {{form.hidden_tag()}}
                <fieldset>
                    <div>
                        {{form.email.label}}
                        {{form.email}}
                    </div>
                    <div>
                        {{form.password.label}}
                        {{form.password}}
                    </div>
                </fieldset>
                <div>
                    {{form.loginbutton}}
                </div>
        </form>
        </div>
        {%endblock%}
        <a href="{{url_for('register')}}">Do not have an account?</a>
</body>
</html>
